@font-face {
    font-family: "karla";
    src: url("media/fonts/Karla.woff") format("woff"),
    url("media/fonts/Karla.ttf") format("ttf");

}

@font-face {
    font-family: "MuseoSansDisplay";
    src: url("media/fonts/MuseoSansDisplay.woff") format("woff"),
    url("media/fonts/MuseoSansDisplay.ttf") format("ttf");
}

@font-face {
    font-family: "2015 Cruiser";
    src: url("media/fonts/2015Cruiser.woff") format("woff"),
    url("media/fonts/2015Cruiser.otf") format("otf");

}


/* Animations */
@keyframes openTop {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes openMid {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes openBot {
    0% {
        transform: translateY(5px) rotate(0deg);
        display: none;
    }
    50% {
        transform: translateY(0px) rotate(0deg);
        display: none;
    }
    100% {
        transform: translateY(0px) rotate(90deg);
        display: none;
    }
}

@keyframes closeTop {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes closeMid {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes closeBot {
    0% {
        transform: translateY(5px) rotate(0deg);

    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0px);
    }
}


:root {
    --main-color: #000000;
    --text-color: #606060;
    --article-color: #EEF3F8;
    --background-color: #FFFFFF;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h2 {
    color: var(--background-color);
    font-size: 30px;
    font-family: MuseoSansDisplay, sans-serif;
    text-align: start;
}

p {
    font-family: Karla, sans-serif;
    color: var(--text-color);
    margin-bottom: 10px;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.logo {
    color: var(--main-color);
    font-family: "2015 Cruiser", sans-serif;
}

.logo a {
    font-size: 22px;
}

.logo aside {
    font-size: 18px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 2rem auto;
}

.container p {
    margin: 1rem 0;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-left {
    width: 30vw;

}

.hero-right {
    width: 70vw;
    max-height: 100%;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100vh;

}


h1 {
    font-family: MuseoSansDisplay, sans-serif;
    position: relative;
    font-size: 32px;
    text-align: center;
}

.hero h1 {
    padding-bottom: 100px;
}

.hero p {
    font-family: Karla, sans-serif;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 10px;
}

.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100vw;
    padding: 0 50px;
    color: var(--background-color);
    z-index: 1;
    transition: .4s ease-out;
}

.main-header a {
    text-decoration: none;
    color: inherit;
}

.button {
    margin-top: 100px;
    border-bottom: solid var(--text-color) 1px;
    width: 215px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button svg {
    width: 16px;
    fill: var(--text-color);
}

.button a {
    font-family: Karla, sans-serif;
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    margin: 2px;
}

.button span:first-child {
    padding-right: 110px;
}


.nav-links {
    display: flex;
    list-style: none;
    font-family: Karla, sans-serif;
}

.nav-links .nav-link a {
    margin: .2rem;
    padding: 1rem .5rem;
    font-size: 14px;
}

.nav-links .nav-link a:hover {
    background: rgba(255, 255, 255, 0.2);
}

nav {
    display: flex;
}

nav svg {
    fill: var(--background-color);
    width: 16px;
}

.icons {
    margin-left: 40px;
}

.menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.menu-icon__line {
    display: block;
    position: relative;
    background: var(--background-color);
    height: 2px;
    width: 20px;
    border-radius: 4px;
    transition: background .8s ease;
}

.menu-icon__line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: var(--background-color);
    transition: background .8s ease;
}

.menu-icon__line::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 60%;
    border-radius: 4px;
    background-color: var(--background-color);
    transition: background .8s ease;
}

.menu-icon__line::before {
    transform: translateY(-5px);
}

.menu-icon__line::after {
    transform: translateY(5px);
}


.menu-btn {
    display: none;
}

.scrolled {
    height: 60px;
    background-color: var(--background-color);
    color: black;
}

.scrolled .menu-icon__line, .scrolled .menu-icon__line::after, .scrolled .menu-icon__line::before {
    background: var(--main-color);
}

.scrolled svg {
    fill: var(--main-color);
}

.mobile-video {
    display: none;
}

.shop-links {
    padding: 60px;
    display: flex;
}

.shop-left {
    width: 50%;
    height: 80vh;
    background-image: url("media/img/meduse.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.shop-right {
    width: 50%;
    height: 80vh;
    background-image: url("media/img/accessoires.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}


.content {
    margin: auto;
}

.content .button a {
    color: var(--background-color);
}

.content .button {
    border-bottom: solid 1px var(--background-color);
    margin-top: 40px;
}

.shop-links .button span:first-child {
    padding-right: 120px;
}

.content .button svg {
    fill: var(--background-color);
}

.main-product {
    background-color: var(--article-color);
    padding: 0 60px;
    display: flex;
    height: 80vh;
}

.product-img {
    width: 50vw;
    text-align: center;
}

.product-img img {
    width: inherit;
    max-width: 900px;
}

.product-description {
    width: 50vw;
    padding: 20px;
    display: flex;
}

.product-description h2 {
    color: var(--main-color);
    margin-bottom: 70px;
}

.product-description p {
    font-family: Karla, sans-serif;
    font-size: 18px;
    max-width: 500px;
}

.product-description .button {
    margin: 100px 0 0 0;
    border-bottom: solid var(--main-color) 1px;
}

.product-description .button a {
    color: var(--main-color);
}

.product-description .button svg {
    fill: var(--main-color);
}

.reassurance {
    display: flex;
    flex-direction: column;
}

.shipement {
    margin: auto;

}

.reassurance h2 {
    color: var(--main-color);
    margin: 50px 0;
    text-align: center;
}

.reassurance p {
    max-width: 1000px;
    font-size: 18px;
}


/*FOOTER*/

footer {
    padding: 85px 0 100px 0;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    position: relative;
}

.footer-item {
    margin: 0 7.2% 0 0;
}

footer a {
    font-family: Karla, sans-serif;
}


h3 {
    font-size: 14px;
    color: var(--main-color);
    margin: 0;
    font-family: MuseoSansDisplay, sans-serif;
    font-weight: bold;
    padding-bottom: 9px;
    letter-spacing: 0.03em;
}


.footer-news div {
    margin-top: 20px;
}
.button span:first-child {
    padding-right: 0;
}
{
    padding: 0;
}

input{
    border: none;
}
input::placeholder{

}






@media (max-width: 1000px) {

    h2 {
        font-size: 28px;
    }

    .hero-right {
        display: none
    }

    .hero-left {
        width: 100vw;

    }

    .hero {
        margin: 0 2em;

    }

    .hero h1 {
        text-align: start;
        margin-top: 150px;
        font-size: 30px;
        color: var(--background-color);

    }

    .hero p {
        text-align: start;
        font-size: 14px;
        color: var(--background-color);

    }

    .hero .button svg {
        fill: var(--background-color);
    }

    .hero .button {
        margin: 100px 0;
        border-bottom: solid var(--background-color) 1px;
    }

    .hero .button span {
        color: var(--background-color);
    }

    .hero .intro {
        position: relative;
    }

    .mobile-video {
        width: 100vw;
        max-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }

    .logo a {
        font-size: 18px;
        color: var(--background-color);
    }

    .logo a aside {
        font-size: 14px;
        color: var(--background-color);
    }

    .scrolled a {
        color: var(--main-color);
    }

    .scrolled a aside {
        color: var(--main-color);
    }

    .shop-links {
        flex-direction: column;
        padding: 20px 50px;
    }

    .shop-left {
        width: 100%;
        height: 75vh;
        margin-bottom: 20px;

    }

    .shop-right {
        width: 100%;
        height: 75vh;
    }

    .reassurance .content p {
        margin: 0 150px;
    }


    /*FOOTER*/
    .footer-item {
        margin-bottom: 50px;
    }

    .footer-news {
        margin: auto;
    }



}


@media (max-width: 770px) {

    h1 {
        max-width: 50px;
    }

    .main-header .menu-icon {
        display: block;
        margin: 0;
    }


    .icons {
        margin-top: 18px;
    }

    nav {
        flex-direction: row-reverse;
    }

    .menu-icon {
        color: var(--background-color);
    }


    .menu-icon__line {
        animation: closeMid 0.8s backwards;
        animation-direction: reverse;
    }

    .menu-icon__line::before {
        animation: closeTop 0.8s backwards;
        animation-direction: reverse;
    }

    .menu-icon__line::after {
        animation: closeBot 0.8s backwards;
        animation-direction: reverse;
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10rem 0;
        width: 100vw;
        height: 100vh;
        background: var(--background-color);
        color: var(--main-color);
        transition: opacity .8s .5s, clip-path 1s .5s;

        clip-path: inset(0 0 0 95%);
    }

    .nav-links.text a {
        font-size: 2rem;
    }

    .menu-btn:checked ~ .text {
        opacity: 1;
        clip-path: inset(0 0 0 0%);
    }

    .menu-btn:checked ~ .menu-icon .menu-icon__line {
        animation: openMid 0.8s forwards;
    }

    .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
        animation: openTop 0.8s forwards;
    }

    .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
        animation: openBot 0.8s forwards;
        display: contents;
    }

    .button svg {
        width: 10px;
    }

    p {
        line-height: 180%;
    }

    .main-header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 100vw;
        padding: 0 20px;
        color: var(--background-color);
        z-index: 1;
        transition: .4s ease-out;
    }

    .shop-links {
        padding: 20px;
    }

    .main-product {
        flex-direction: column-reverse;
        padding: 20px 0 0 0;

    }

    .product-description {
        width: 100%;
    }

    .product-description .content {
        margin: 0 20px;
    }

    .product-description h2 {
        padding-top: 15px;
        margin-bottom: 30px;
        text-align: start;
    }

    .product-description p {
        font-size: 14px;
        margin-bottom: 70px;
    }

    .product-description button {
        margin-top: 20px;
    }

    .main-product .button {
        margin-top: 30px;
    }


    /**/
    .reassurance .content {
        margin: 0 40px;
    }

    .reassurance h2 {
        text-align: start;
    }

    .reassurance .content p {
        margin: 0;
    }


}


